/* RESUME PAGE */
body {
  font-size: 16px;
  width: 80%;
}

h1,h2,h3,h4,p {
  color: white;
}
h1 {
  font-size: 5rem;
  font-weight: 10;
}
h2 {
  font-size: 2.5rem;
  font-weight: 50;
  font-family:'Courier New', Courier, monospace;
}
section {
}


/* Experiences */
div.experience {
  padding: 10px;
}
.heading {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 2px;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 2px;
}
.subheading {
  font-style: italic;
  font-weight: 100;
  font-size: 1.3rem;
  color: gray;
  text-transform: uppercase;
  margin-top: 3px;
}
.description {
  font-size: 1.5rem;
}
.time {
  font-weight: 100;
  font-style: italic;
  font-size: 1rem;
}
.location {
  font-weight: bold;
  color:rgb(0, 255, 76);
}

/* Education */
.grade {
  color: greenyellow;
}



