:root {
  --after-hover-color: rgb(212, 209, 209);
  --after-hover-links: rgb(0, 217, 255);
}

body::-webkit-scrollbar {
  width: 1em;
  background-color: rgb(43, 42, 42);
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 217, 255);
  outline: 1px solid rgb(0, 238, 255);
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v3/tDbY2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8SKxTOlOV.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* General things */
* {
  box-sizing: border-box;
}

html,
body {
  font-family: "JetBrains Mono", monospace;
  text-align: center;
  color: white;

  margin: 2rem auto;
  font-size: 16px;
  scroll-behavior: smooth;

  overflow-x: hidden;
  overflow-y: hidden;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

h1 {
  font-size: 4rem;
  font-weight: 10;
}
h2 {
  font-size: 2.5rem;
  font-weight: 50;
  font-family: "Courier New", Courier, monospace;
  color: cyan;
  text-decoration: underline;
  padding-top: 6rem;
  text-transform: uppercase;
}
section {
  margin: 4rem 0 10rem;
}
hr {
  width: 50%;
}
hr.left-in-hr {
  animation: backInLeft 2s;
}
hr.right-in-hr {
  animation: backInRight 2s;
}
a {
  color: rgb(3, 128, 150);
}
a:hover {
  color: var(--after-hover-links);
}

/* Container body to show up when finish loading */
#body-container {
  display: none;
}

/* Navigation bar */
nav {
  width: 100%;
  height: 50px;
  position: fixed;

  z-index: 1;
  top: 0;
  left: 0;

  background-color: black;
  border-bottom: 1px solid white;

  display: inline-block;

  padding: 5px;
  font-family: "Courier New", Courier, monospace;

  animation: fadeInDown 1s 2.6s ease backwards;
}
nav #logo {
  float: left;
  color: white;
  border: 1px double white;
  padding: 0.5em;
  text-decoration: none;
  border-radius: 15%;
}
nav ul {
  list-style-type: none;
  margin: 1px auto 0;
  padding: 0;
  float: right;
  height: 100%;
  display: block;
}
nav li {
  font-size: 1rem;
  display: inline-block;
  margin: 0.3em;
  padding: 5px;
  position: relative;
}
nav li a {
  text-decoration: none;
  color: white;
}
nav li a:hover {
  color: var(--after-hover-color);
}

/* The header part*/
header {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

header #name-container {
  position: relative;
  animation: fadeInDown 1s 0.4s ease backwards;
}

header #name {
  color: var(--after-hover-links);
  font-weight: bold;
  font-size: 7rem;
  margin: 0.5rem;
  position: relative;
}

header #profile-image {
  width: 15rem;
  animation: fadeInDown 1s 0.7s ease backwards;
  margin: 1rem;
  border-radius: 50%;
  display: inline-block;
}

header #profile-image-caption {
  font-style: italic;
  color: gray;
  animation: fadeInDown 2s 4s ease backwards;
}

header #profession {
  color: lightgreen;
  font-size: 2rem;
  animation: fadeInDown 1s 1.4s ease backwards;
}

header #opening-words {
  text-align: center;
  margin-bottom: 10rem;
  line-height: 3;
  animation: fadeInUp 1s 2s ease backwards;
}

/* Projects */

.section-container#projects {
  visibility: hidden;
}

section#projects {
  width: auto;
  height: 50%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 20rem;
  border: 1px solid white;
  background-color: black;
  margin: 1rem;
  transition: transform 0.2s;
}

.project:hover {
  transform: scale(1.1);
  box-shadow: 0 0 4px 8px rgba(128, 128, 128, 0.452);
}

.project .cover-image-container {
  margin: 0;
  height: 10rem;
  border-bottom: 1px solid white;
}

.cover-image-container .cover-image {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  background-size: cover;
  z-index: -1;
}

.project .caption {
  padding: 1rem;
  height: 50%;
  background-color: black;
}

.project .link {
  margin-bottom: 1rem;
  height: 2rem;
}

/* About me */

.section-container#about {
  visibility: hidden;
}

#about h2 {
  margin-bottom: 2rem;
}
#about article {
  text-align: left;
  max-width: 50%;
  margin: 0 auto;
  line-height: 2;
}

/* Experiences */
.section {
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.heading {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 2px;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 2px;
}
.subheading {
  color: rgb(0, 255, 76);
  font-style: italic;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-top: 3px;
}
.description {
  font-size: 1.2rem;
  color: rgb(192, 189, 189);
  width: 50%;
  line-height: 2;
  margin: 0 auto;
}
.description strong {
  color: white;
}
.time {
  color: rgb(0, 255, 170);
  font-weight: 100;
  font-style: italic;
  font-size: 1rem;
}
.location {
  font-weight: bold;
  color: rgb(0, 255, 76);
}
/* Education */
.grade {
  color: rgb(47, 255, 127);
}

/* Skills */
#skills > div {
  margin-bottom: 5rem;
}

/* Languages */
.programming-tool {
  width: 5rem;
  margin: 1rem 0.2rem 0.2rem 1rem;
}
.logo-container {
  display: flex;
  align-items: center;
}

/* Social links at the bottom */
footer i {
  color: white;
}
footer i:hover {
  color: var(--after-hover-color);
}
/* Footer */
footer {
  position: fixed;
  border-top: 1px solid white;
  bottom: 0;
  width: 100%;
  height: 6%;
  background-color: black;
  margin: 0;
  display: block;
  animation: fadeInUp 1s 2.6s ease backwards;
}

footer .copyright {
  float: left;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: left;
  margin-left: 1rem;
  color: gray;
  animation: fadeInLeft 1s 3.1s ease backwards;
}

footer .socials {
  display: flex;
  height: 100%;
  margin-right: 1rem;
  align-items: center;
  justify-content: space-around;
  float: right;
  animation: fadeInRight 1s 3.4s ease backwards;
}
footer .socials a {
  margin: 10px;
  font-size: 30px;
}
