
:root {
  --after-hover-color: rgb(212, 209, 209);
  --after-hover-links: rgb(0, 217, 255);
}


/* General things */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "JetBrains Mono", monospace;
  text-align: center;
  background-color: black;
  color: white;
  margin: 70px auto;
  font-size: 16px;
}
a {
  color: rgb(3, 128, 150);
}
a:hover {
  color: var(--after-hover-links);
}



/* Navigation bar */
nav {
  width: 100%;
  height: 50px;
  position: fixed;

  z-index: 1;
  top: 0;
  left: 0;

  background-color: black;
  border-bottom: 1px solid white;

  display: inline-block;

  padding: 5px;
  font-family: "Courier New", Courier, monospace;
}
nav #logo {
  float: left;
  color: white;
  border: 1px double white;
  padding: 0.5em;
  font-family:'Courier New', Courier, monospace;
  text-decoration: none;
  border-radius: 15%;
}
nav ul {
  list-style-type: none;
  margin: 1px auto 0;
  padding: 0;
  float: right;
  height: 100%;
  display: block;
}
nav li {
  font-size: 1rem;
  display: inline-block;
  margin: 0.3em;
  padding: 5px;
  position: relative;
}
nav li a {
  text-decoration: none;
  color: white;
}
nav li a:hover {
  color: var(--after-hover-color);
}


/* The scroll to top button */
#to-top {
  display: block;
  position: fixed;
  bottom: 60px;
  right: 25px;
  background-color: red;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 30%;
  border: 0px;
}

/* The header part*/
header {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
header h1.name {
  color: var(--after-hover-links);
  font-weight: bold;
  font-size: 8rem;
  margin: 1rem;
}
header div img {
  width:15rem;
  margin: 1rem;
  border-radius: 50%;
  display: inline-block;
}
header #profile-image-caption {
  font-style: italic;
  font-weight: 100;
  color: gray;
}
header p#profession {
  color: lightgreen;
  font-weight: 100;
  font-size: 2rem;
}
header #opening-words p {
  text-align: center;
  margin-bottom: 10rem;
  line-height: 3;
}
#about h2 {
  margin-bottom: 2rem;
}
#about article {
  text-align: justify;
  width: 30%;
  margin: 0 auto;
  line-height: 2;
}
hr {
  width: 50%;
}



/* Projects and about section */
section#projects {
  width: auto;
  height: 50%;
}
h2 {
  margin-bottom: 5rem;
}
.project {
  border-radius: 20px;
  display: inline-block;
  width: 20%;
  max-height: 20%;
  border: 1px solid white;
  margin: 1rem;
  margin-bottom: 8rem;
}
.project .cover-image {
  margin: 0;
  width: auto;
  height: 10rem;
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  border-bottom: 1px solid white;
}
.project .caption {
  padding: 1rem;
}
.cover-image#heart-attack-clf {
  background-image: url('https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/slideshows/did_you_know_this_could_lead_to_heart_disease_slideshow/650x350_did_you_know_this_could_lead_to_heart_disease_slideshow.jpg');
}
.cover-image#wish-eda {
  background-image: url('https://media.istockphoto.com/photos/clothes-shop-interior-picture-id901863672?k=6&m=901863672&s=612x612&w=0&h=-_sWo8B6OJRaj4OuwblW8ytajBnBY_UMuaXGjr95wrE=');
}
.cover-image#todo-app {
  background-image: url('https://media.istockphoto.com/vectors/to-do-list-vector-id903719860?k=6&m=903719860&s=612x612&w=0&h=Haz8DqU-KAMnsc-bXs9AWusLZHSiQs5J8_a0QuGnIxY=')
}
section h2 {
  text-decoration:underline;
}

/* Social links at the bottom */
.socials a {
  display: inline-block;
  margin: 5px;
}
/* Footer */ 
footer {
  position: fixed;
  border-top: 1px solid white;
  bottom: 0;
  width: 100%;
  background-color: black;
}
footer i {
  color: white;
  font-size: 100px;
}
footer i:hover {
  color: var(--after-hover-color)
}
.fa {
  font-size: 20px;
}